@import '../../../variables';

md-card {
	height: 350px;
	width: 100%;
  background-color: #63c9a6;
  color: $primary-color-text;
}

.demo-basic {
  padding: 0;
}
.big-banner-container {
  height: 350px;
  overflow-y: hidden;
}


.image-container {
  height: 100%;
  overflow-y: hidden;
}

.footer{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}


img {
  width: 100%;
  height: auto;
}

.big-banner-container .col-md-3{

}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}

p{
  line-height: 1.6;
  font-size: 14px;
}

button {
  color: $primary-color-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
 button i {
	 margin-left: 5px
 }

