.image-container {
  display: flex;
  position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
	justify-content: center;
	align-items: flex-start;
  overflow-y: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

h4 {
  text-align: center
}
