<div class="row Grid--gutters">
  <div class="col-md-9">
    <div class="banner">
      <app-big-banner [banner]="banner" ></app-big-banner>
    </div>
    <div class="highlight">
      <div class="row small Grid--gutters">
        <div class="col-md-4 col-sm-12">
          <md-toolbar class="custom-md-toolbar purple">WHAT'S ON</md-toolbar>
          <div class="row small Grid--gutters">
            <div *ngFor="let article of articles" class="col-md-12">
              <app-big-panel [article]="article"></app-big-panel>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <md-toolbar class="custom-md-toolbar orange">EVENTS</md-toolbar>
          <div class="row small Grid--gutters">
            <div *ngFor="let event of events" class="col-md-12">
              <app-big-panel [article]="event"></app-big-panel>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <md-toolbar class="custom-md-toolbar blue">COLLECTION</md-toolbar>
          <div class="row small Grid--gutters">
            <div *ngFor="let collection of collections" class="col-md-12">
              <app-big-panel [article]="collection"></app-big-panel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collection-carousel">
      <h2>Collections</h2>
      <app-simple-carousel [collections]="collectionData" ></app-simple-carousel>
    </div>


  </div>
  <div class="col-md-3">
    <app-time-info></app-time-info>
  </div>
</div>
